.campaigns {
    display: flex;
}

@media screen and (max-width: 600px) {
    .campaigns {
        flex-direction: column;
    }
}

.campaign {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .campaign {
        width: 100%;
    }
  }

.campaign img {
    width: 100%;
    margin-bottom: 20px;
}

.title {
    font-size: 25px;
    font-weight: bolder;
}

.address img {
    width: 20px;
    margin-bottom: 0px;
}

footer{
    margin-top: 70px;
}